body {
    background-color: #f8f9fa;
    padding-top: 20px;
}

.user-profile {
    margin-left: auto;
    display: flex;
    align-items: center;
}

.quest-wrapper {
    position: relative;
    margin-bottom: 20px;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.quest-block {
    border: 1px solid #ccc;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background-color: #fff;
    cursor: pointer;
    width: 100%;
    overflow: auto;
    height: 180px;
}

.quest-block p {
    word-wrap: break-word;
}

.author {
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 12px;
    padding: 5px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
}

.quest-block:hover {
    background-color: #f0f0f0;
}

.page-links {
    text-align: center;
    margin-bottom: 20px;
}

.page-links a {
    margin-right: 20px;
}