/* Стили для формы входа */
.form-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.form-container label {
    font-weight: bold;
}

.form-container input[type="text"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-container button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.form-container button:hover {
    background-color: #45a049;
}

/* Стили для главного сообщения */
.welcome-message {
    text-align: center;
    margin-bottom: 20px;
}

/* Стили для представления при первом входе */
.first-visit-message {
    font-weight: bold;
    color: #4CAF50;
}
